.container {
  display: flex;
  flex-direction: column;
}

.container pre {
  min-height: 100px;
}

.query {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Fira Code", "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  min-height: 100px;
}

.query textarea,
.query pre {
  padding: 0.4rem 0.8rem !important;
}

.query.dark pre {
  background-color: #1e1e1e !important;
  color: #fff;
}
